.container {
  display: flex;
  flex-direction: column;
}

.keyname {
  font-size: 1.1rem;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg-alt);
  padding: 10px;
  border-radius: 10px;
  border: var(--sp-1) solid;
  border-color: var(--color-border);
}

.deleteBtn {
  background: transparent;
  color: var(--color-primary);
}

.deleteBtn:hover {
  color: var(--color-primary-hover)
}

.py2 {
  margin: var(--sp-2) 0;
}

.py4 {
  margin: var(--sp-4) -0;
}