.listbox {
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.input {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

.label {
  font-size: 1.1rem;
  font-weight: 400;
}

.options {
  width: 150px;
  right: 0;
}