.container {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-alt);
  color: var(--color-text);
  width: 100%;
}

.header {
  padding: 7px 20px;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--color-primary);
}

.inputRow {
  display: flex;
  width: 100%;
}

.inputText[type="text"] {
  background: inherit;
  flex-basis: 2;
  flex-grow: 1;
  color: inherit;
  border-radius: 0px;
  padding: 7px 20px;
  margin: 0;
  outline: none;
  font-size: var(--base-font-size);
  box-shadow: inset 0px 0px 5px var(--color-primary-hover);
}

.inputText[type="text"]:focus-within {
  box-shadow: inset 0px 0px 5px var(--color-primary);
}

.inputSubmit {
  background: var(--color-primary);
  border: none;
  flex-basis: 1;
  flex-grow: 2;
  padding: 5px 30px;
  transition: all 200ms linear;
  color: var(--color-on-primary);
}

.inputSubmit:hover {
  background: var(--color-primary-hover);
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
}