.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  width: 100%;
  margin: 30px 0;
}

.columnItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.columnLabel {
  font-size: var(--base-subtitle-size);
}

.colInput {
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 2fr 1fr 1fr;
  }
}